.contact iframe{
    width:100%;
    height:100%;
    border:none;
}



.contact .right {
    padding:50px;
}

.contact h1{
    font-size:30px;
    font-weight:400;
}


.contact textarea,
.contact input{
    width:100%;
    padding:15px;
    margin-top:20px;
    margin-bottom:15px;
    outline:none;
    border:1px solid grey;
}

.space{
    margin-right:15px;
}


.contact h3{
    margin-top:20px;
    font-weight:500;
    margin-bottom:10px;
}


.contact span {
    color:#1eb2a6;
    font-weight:600;
    font-size:15px;
    word-spacing:5px;
}